{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<br>
<div class="row">
    <div class="col-md-8">
        <img src="{{project.image.url}}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p><pre>{{ project.description }}</pre></p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <h5>Link:</h5>
        <p><a href = {{project.link}}>Click me</p>
    </div>
</div>
{% endblock %}
